# Node.js dependencies
node_modules/

# Build output
build/

# Environment files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE and editor-specific files
.vscode/
.idea/

# NPM package lock
package-lock.json
yarn.lock
